<div class="container">
  <h2>Review Scraper</h2>
  <div class="row">
    <div class="input-field col s12">
      <input id="search" type="text"></input>
      <label for="search">Search</label>
      <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </div>
  </div>
  <a id="scrape-btn" class="waves-effect waves-light btn">Scrape Now</a>
  <a id="purge-btn" class="waves-effect waves-light btn">Purge</a>
    <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' style="width: 150px; float: right;" href='#' data-target='dropdown1'>Sort By<i id="sort" class="material-icons">arrow_drop_down</i></a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/sort/alphadown">Alphabetical<i class="material-icons">arrow_drop_down</i></a></li>
    <li><a href="/sort/alphaup">Alphabetical<i class="material-icons">arrow_drop_up</i></a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/sort/new">Newest</a></li>
    <li><a href="/sort/old">Oldest</a></li>
  </ul>

  <div class="row">
    <div class="col s6">
      <table>
        <thead>
          <tr>
              <th>Video Game Reviews</th>
              <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {{#each games}}
          <tr>
            <td>
              <a class="link" href="{{this.link}}" target="blank">
                <span class="title">{{this.title}}</span>
              </a>
            </td>
            <td>
            {{this.published}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col s6">
      <table>
        <thead>
          <tr>
              <th>Movie Reviews</th>
              <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {{#each movies}}
          <tr>
            <td>
              <a class="link" href="{{this.link}}" target="blank">
                <span class="title">{{this.title}}</span>
              </a>
            </td>
            <td>
            {{this.published}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>  
</div>

<script src="/assets/js/index.js"></script>